<div class="col-8 mx-auto">
    <%= form_with model:[:admin, item], local: true do |f| %>
      <div class="form-group">
        <%= f.label "商品画像", class:"col-3" %>
        <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
      </div>
      <div class="form-group">
        <%= f.label "商品名", class:"col-3"%>
        <%= f.text_field :name, class:"col-6" %>
      </div>
      <div class="form-group">
        <%= f.label "商品説明", class:"col-3" %>
        <%= f.text_area :description, class:"col-6"%>
      </div>
      <div class="form-group">
        <%= f.label "ジャンル", class:"col-3" %>
        <%= f.select :genre_id, Genre.all.map{|g| [g.name, g.id]}, class:"col-6" %>
      </div>
      <div class="form-group">
        <%= f.label "税抜き価格", class:"col-3" %>
        <%= f.text_field :price, class:"col-6" %>円
      </div>
      <div class="form-group">
        <%= f.label "販売ステータス", class:"col-3"%>
        <%= f.radio_button :is_selling, true %>
        <%= f.label "販売中", class: "mr-5" %>
        <%= f.radio_button :is_selling, false %>
        <%= f.label "販売停止中"%>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存", class:"btn btn-success" %>
      </div>
    <% end %>
  </div>