<div class="col">
  <h5><%= @user.full_name %>さんの会員情報編集</h5>
  <%= form_with model:@user, url: admin_customer_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :id, "会員ID", class:"col-2"%>
    <%= @user.id %>
  </div>
  <div class="form-group">
    <%= f.label :name, "氏名", class:"col-2" %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :kana_name, "フリガナ", class:"col-2" %>
  </div>
  <% end %>
</div>